<p style="color: green"><%= notice %></p>

<%= render @storyline_world_forge %>

<div>
  <%= link_to "Edit this storyline world forge", edit_storyline_world_forge_path(@storyline_world_forge) %> |
  <%= link_to "Back to storyline world forges", storyline_world_forges_path %>

  <%= button_to "Destroy this storyline world forge", @storyline_world_forge, method: :delete %>
</div>
